@media screen and (max-width : 768px) {
    body {
        width: 100%;
        height: 100%;
    }
    
    main {
        flex-direction: column;
        width: 90%;
        height: auto;
    }

    #header > h1 {
        font-size: 22px;
        padding: 0;
        margin: 0;
    }

    #main {
        flex-direction: column;
    }

    #categories {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: auto;
        overflow: auto;
    }

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-button-prev {
        background-color: transparent;
    }
    
    .swiper-button-next {
        background-color: transparent;
    }

    .product {
        padding-bottom: 10px;
        width: 200px;
    }

    .productImg > img {
        width: 100%;
        height: auto;
    }

    .shipping {
        font-size: 10px;
    }

    #popup {
        text-align: center;
        margin-top: 20px;
    }
}